body {
	color: #fff;
	font-family: arial, verdana, sans-serif;
	background: #015;
	background: linear-gradient(to bottom, rgb(25, 25, 44), rgb(35, 54, 94));
	background-attachment: fixed;

	/* prevent selection of text */
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none;
}

a {
	color: #25f;
}

h1 {
	color: #79d;
	font-size: 2em;
	margin-top: 15px;
	margin-bottom: 5px;
}

h2 {
	color: #7bf;
	font-size: 1.5em;
	margin-top: 10px;
	margin-bottom: 5px;
	padding: 0;
}

h3 {
	color: #bbf;
	font-size: 1.2em;
	margin-top: 8px;
	margin-bottom: 4px;
	padding: 0;
}

select {
	background: #eee;
	min-width: 60px;
}
