body {
	margin: 0;
}

div.header {
	display: flex;
	flex-wrap: nowrap;
}

.mainTitle {
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	font-size: 15em;
	font-weight: bold;
	text-shadow: 0.05em 0.05em 0.05em #000;
	animation: fadein 5s;
}

.subTitle {
	text-align: center;
	font-size: .3em;
	animation: fadein 8s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/************** Pop-Up Messages **********/

div.ajs-message {
	font-size: 28px;
	font-weight: bold;
	width: 1000px !important;
}

div.ajs-message.ajs-error {
	background: rgba(117,2,2,.95) !important;
	text-shadow: -2px -2px 0 rgba(0,0,0,.5) !important;	
}

div.ajs-message.ajs-success {
    background: rgba(45,115,57,.95) !important;
	text-shadow: -2px -2px 0 rgba(0,0,0,.5) !important;	
}

.ajs-message.ajs-visible {
	right: 1000px !important;
}

/************* Top Info Bar *************/
.infoBar {
	margin: 0 0 8px 0;
	padding: 0;
	background: #333;
	color: #ccc;
	font-size: 1.3em;
	width: 100%;
	display: table;
}

.infoBarCell {
	display: table-cell;
	text-align: left;
	width: 29%;
}

.infoBar img {
	height: 23px;
    margin-bottom: -4px;
}

.infoBarCell#exterior {
	width: 10%;
}

.infoBarCell#coolant {
	width: 22%;
}

.infoBarCell#timeRunning {
	padding-right: 16px;
	text-align: right;
	width: 10%;
}

/************* Buttons *************/
.button {
	display: inline-block;
	padding: 0.5em 0.5em;
	margin-bottom: 0.3em;
	font-size: 1.5em;
	font-weight: bold;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: #fff;
	background: #555;
	background: linear-gradient(to bottom right, #888, #444);
	border-radius: 0.7em;
	box-shadow: 0.2em 0.2em 0.5em #000;
}

.button:hover {
	background: #567;
	background: linear-gradient(to bottom right, #89a, #456);
}

.button:active {
	background: #678;
	background: linear-gradient(to bottom right, #9ab, #567);
	transform: translateY(2px);
}

#chargeControl {
	display: inline-flex;
	width: 100%;
}

button#stopCharge {
	width: 400px;
	margin: 10px auto 0 auto;
	background: #ff000080;
}

/************* System state and global colors *************/
.systemState {
	margin-left: 8px;
	font-size: 2.5em;
	font-weight: bold;
	text-shadow: 0em 0em 0.4em #ddd;
}

.systemState .error {
	text-shadow: 0em 0em 0.4em #000;
}

.error {
	color: #f22;
}

.warning {
	color: #fb2;
}

.info {
	margin-left: 8px;
}

/************* Gauges *************/
div.gauges {
	text-align: center;
}

/************* Charge Level *************/
meter#chargeLevelMeter {
	margin: 5em 10% 5em 10%;
	height: 5em;
	width: 80%;
	box-shadow: 1em 2em 0.5em #000;
}

.chargeLevel {
	margin-bottom: 0.5em;
	margin-top: -2.1em;
 	text-align: center;
	color: #555;
	font-weight: bold;
	font-size: 6em;
	text-shadow: 0 0 0.2em #aff, 0 0 0.5em #fff;
}

div#inputCurrentSelector {
	display: inline-flex;
	align-items: center;
	padding: 10px 0 20px 0;
	width: 100%;
	font-size: 2em;
	color: #fff;
	text-shadow: 0 0 0.2em #bbb;
}

#inputCurrentLabel {
	margin: 0 10px 0 auto;
}

#inputCurrentUnit {
	margin-right: auto;
}

#maximumInputCurrent {
	width: 75px;
	margin: 0 10px 0 0px;
	text-align: right;
}

input[type=range]::-webkit-slider-thumb {
  box-shadow: 0.9px 0.9px 1px #000031, 0px 0px 0.9px #00004b;
  border: 1.8px solid #00001e;
  height: 30px;
  width: 30px;
  border-radius: 15px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -1.5px;
}

input[type=range] {
	padding: 0 5px;
	width: 500px;
	height: 12px;
	border-radius: 8px;
	background: rgb(FF, FF, FF);
	box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.9), 0px 1px 1px 0px rgba(255, 255, 255, 0.13);
	-webkit-appearance: none !important;
}

/************* Sub Info *************/
.subInfo {
	margin: .1em 10% .25em 10%;
	padding: .1em .5em .1em .5em;
	display: table;
	table-layout: fixed;
	width: 80%;
	background: linear-gradient(to bottom right, #445, #113);
	font-size: 1.6em;
	border-radius: 0.7em;
	box-shadow: .3em 0.3em 0.3em #000;
}

.subInfoCell {
	display: table-cell;
	padding-left: 20px;
	font-weight: bold;
}

/************* BMS *************/
div#batteries {
	padding: 0px;
}

/************* Cruise Control *************/
div#cruiseControl {
    display: flex;
    justify-content: space-between;
	margin-top: 10px;
    padding-left: 5%;
    padding-right: 5%;
}

div#cruiseControl div {
	font-size: 2em;
    font-weight: bold;
}

div#cruiseControl img {
	height: 55px;
}

/************* Toggle Switches *************/
.switch {
	position: relative;
	display: inline-block;
	width: 5em;
	height: 1.5em;
	padding: 0.3em;
	background-color: white;
	border-radius: 1.8em;
	box-shadow: inset 0 -0.1em rgb(45, 64, 104), inset 0 0.1em 0.1em rgba(0, 0, 0, 0.05);
	cursor: pointer;
	background-image: linear-gradient(to bottom, rgb(25, 25, 44), rgb(45, 64, 104) 2.5em);
}

.switch-input {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
}

.switch-label {
	position: relative;
	display: block;
	height: inherit;
	font-size: 1em;
	background: #eceeef;
	border-radius: inherit;
	box-shadow: inset 0 0.1em 0.2em rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15);
	transition: 0.15s ease-out;
	transition-property: opacity background;
}

.switch-label:before, .switch-label:after {
	position: absolute;
	top: 50%;
	margin-top: -.5em;
	line-height: 1;
	transition: inherit;
}

.switch-label:before {
	content: attr(data-off);
	right: 1.1em;
	color: #aaa;
	text-shadow: 0 0.1em rgba(255, 255, 255, 0.5);
}

.switch-label:after {
	content: attr(data-on);
	left: 1.1em;
	color: white;
	text-shadow: 0 0.1em rgba(0, 0, 0, 0.2);
	opacity: 0;
}

.switch-input:checked ~ .switch-label {
	background: #47a8d8;
	box-shadow: inset 0 0.1em 0.2em rgba(0, 0, 0, 0.15), inset 0 0 0.3em rgba(0, 0, 0, 0.2);
}

.switch-input:checked ~ .switch-label:before {
	opacity: 0;
}

.switch-input:checked ~ .switch-label:after {
	opacity: 1;
}

.switch-handle {
	position: absolute;
	top: 0.35em;
	left: 0.35em;
	width: 1.4em;
	height: 1.4em;
	background: white;
	border-radius: 1em;
	box-shadow: 0.1em 0.1em 0.5em rgba(0, 0, 0, 0.2);
	background-image: linear-gradient(to bottom, white 40%, #f0f0f0);
	transition: left 0.15s ease-out;
}

.switch-handle:before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -0.6em 0 0 -0.6em;
	width: 1.2em;
	height: 1.2em;
	background: #f9f9f9;
	border-radius: 0.6em;
	box-shadow: inset 0 0.1em rgba(0, 0, 0, 0.02);
	background-image: linear-gradient(to bottom, #eeeeee, white);
}

.switch-input:checked ~ .switch-handle {
	left: 4em;
	box-shadow: -0.1em 0.1em 0.5em rgba(0, 0, 0, 0.2);
}

.switch-green>.switch-input:checked ~ .switch-label {
	background: #4fb845;
}

.switch-orange>.switch-input:checked ~ .switch-label {
	background: #d89645;
}

.buttonBar {
	display: inline-flex;
	flex-grow: 1;
}

.buttonBarCell {
	display: flex;
	align-items: center;
	margin: auto;
	font-size: 1.3em;
}

/************* Actions *************/
div.foldAnnunciators {
	font-size: 2em;
	font-weight: bold;
	color: #888;
	position: fixed;
	bottom: 0.7em;
	left: 1.5em;
}

div.foldBatteries {
	font-size: 2em;
	font-weight: bold;
	color: #888;
	position: fixed;
	bottom: 0.7em;
	left: 2.5em;
}

div.settings {
	position: fixed;
	bottom: 1.2em;
	right: 2em;
	z-index: 10;
}

img.background {
	width: 90%;
	position: absolute;
	top: 20%;
	left: 5%;
	z-index: -1;
	opacity: 0.1;
}
